 {% load static %}

 
	<!-- Bootstrap core JavaScript-->
	<script src=" {% static 'AdminPanel/assets/js/jquery.min.js' %}"></script>
	<script src=" {% static 'AdminPanel/assets/js/popper.min.js' %}"></script>
	<script src=" {% static 'AdminPanel/assets/js/bootstrap.min.js' %}"></script>

	<!-- simplebar js -->
	<script src=" {% static 'AdminPanel/assets/plugins/simplebar/js/simplebar.js' %}"></script>
	<!-- sidebar-menu js -->
	<script src=" {% static 'AdminPanel/assets/js/sidebar-menu.js' %}"></script>
	<!-- loader scripts -->
	<script src=" {% static 'AdminPanel/assets/js/jquery.loading-indicator.js' %}"></script>
	<!-- Custom scripts -->
	<script src=" {% static 'AdminPanel/assets/js/app-script.js' %}"></script>
	<!-- Chart js -->

	<script src=" {% static 'AdminPanel/assets/plugins/Chart.js/Chart.min.js' %}"></script>

	<!-- Index js -->
	<script src=" {% static 'AdminPanel/assets/js/index.js' %}"></script>